.profile__add-button {
    width: 150px;
    height: 50px;
    background-image: url(../../../images/322.png);
    background-repeat: no-repeat;
    background-color: black;
    cursor: pointer;
    background-position: center;
    border: solid 2px #ffffff;
}

.profile__add-button:hover {
    opacity: 50%;
}

@media screen and (max-width: 1279px) {
    .profile__add-button {
        position: relative;
        right: 0;
        min-width: 70px;
    }
}


@media screen and (max-width: 845px) {
    .profile__add-button {
        width: 282px;
        background-image: url(../../../images/vector320.png);

    }
}