.elements {
    display: flex;
    flex-wrap: wrap;
    width: 68.75%;
    margin: auto;
    margin-top: 47.25px;
    color: black;
    row-gap: 17px;
    column-gap: 17px;
}

@media screen and (max-width: 1279px) {
    .elements {
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 845px) {
    .elements {
        width: 282px;
        margin-top: 36px;
        row-gap: 23px;
    }
}