.profile__avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-right: 30px;
    /* Ниже попытка решить проблему "нестандартной картинки, верна ли она? */
    object-fit: cover;
}


@media screen and (max-width: 845px) {
    .profile__avatar {
        margin: 0;
    }
}