.elements__element {
    width: 282px;
    height: 362px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
}

@media screen and (max-width: 1279px) {
    .elements__element {
        margin: 0;
    }
}

@media screen and (max-width: 845px) {
    .elements__element {
        height: 361px;
    }
}